/*--120-standard-max--------------------------------------------------------------------------------------------------*/
/* a common set of properties used to ensure elements are completely hidden visually */
/* The span[class~="sr-only"] selector will select any span element whose class includes sr-only.  */
/* The CSS clip property is used to define the visible portions of an element.  */
/* The clip-path property determines the shape the clip property should take.  A clip-path property of inset(50%) forms 
the clip-path into a rectangle within the element. */
/* height and width to 1px creates physical space to work with */
/* To prevent the text content from overflowing, give your span[class~="sr-only"] selector an overflow property set to 
hidden and a white-space property set to nowrap. */
/* Take these hidden elements out of the document flow:  Give the span[class~="sr-only"] selector a position property 
set to absolute, a padding property set to 0, and a margin property set to -1px. This will ensure that not only are they 
no longer visible, but they are not even within the page view. */
span[class~="sr-only"] {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  padding: 0;
  margin: -1px;
}
/* ------------------------------------------------------------------------------------------------------------------- */
html {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: #0a0a23;
}

h1 {
  max-width: 37.25rem;
  margin: 0 auto;
  padding: 1.5rem 1.25rem;
}

h1 .flex {
  display: flex; /* enable the flexbox layout */
  flex-direction: column-reverse; /* display the nested elements from bottom to top */
  gap: 1rem; /*  create some space between the elements */
}
h1 .flex span:first-of-type {
  font-size: 0.7em;
}
