/*------- Page Specific Styling --------------------------------------------------------------------------------------*/

/* 2.   Global Styles: Not layout, not component, not utility       */
/* 3.   Layout Styles: Framework and Structure Styling       */
/* 4.   Component Styles: UI Element Styling              */
/* 5.   Utility Classes: Class and ID styling             */
/* 6.   Media Queries (Optional): Apply different styles based on the screen size.        */

/* CSS */
/* Positioning */
/* Box Model */
/* Flexbox/Grid */
/* Typography */
/* Backgrounds */
/* Effects and Transitions */
/* Miscellaneous */

a {
  color: black;
}

a:active {
  color: white; /* should turn white while clicking*/
}

a:hover {
  color: brown; /* should turn brown on mouseover*/
}

a:visited {
  color: grey; /* should turn grey after click */
}

h1,
p {
  text-align: center;
}

h1 {
  font-family: "Chalkduster", Fantasy, Impact, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 15px;
}

hr {
  background-color: rgb(128, 64, 0);
  border-color: rgb(128, 64, 0);
  height: 2px;
}

.container {
  background-color: rgb(255, 255, 255);
  padding: 10px 0px;
}

.marker {
  height: 25px;
  margin: 10px auto;
  width: 200px;
}
.red {
  background: linear-gradient(
    180deg,
    rgb(137, 0, 0) 0,
    rgb(255, 0, 0) 50%,
    rgb(125, 0, 0) 100%
  );
  box-shadow: 0 0 20px 0 rgba(83, 14, 14, 0.8);
}

.green {
  background: linear-gradient(180deg, #55680d, #00ff00, #116c31);
  box-shadow: 0 0 20px 0 #3b7e20cc;
}

.blue {
  background: linear-gradient(
    hsl(186, 76%, 16%),
    hsl(240, 100%, 65%),
    hsl(258, 98%, 18%)
  );
  box-shadow: 0 0 20px 0 hsla(223, 59%, 31%, 0.8);
}

.dkgreen {
  background: linear-gradient(rgb(37, 64, 7), rgb(0, 127, 0), rgb(13, 56, 13));
  box-shadow: 0 0 20px 0 rgba(14, 83, 14, 0.8);
}

.yellow {
  background: linear-gradient(
    rgb(161, 161, 41),
    rgb(255, 255, 0),
    rgb(111, 111, 10)
  );
  box-shadow: 0 0 20px 0 rgba(83, 83, 14, 0.8);
}
.cyan {
  background: linear-gradient(
    rgb(0, 141, 99),
    rgb(0, 255, 255),
    rgb(0, 139, 177)
  );
  box-shadow: 0 0 20px 0 rgba(14, 83, 83, 0.8);
}
.magenta {
  background: linear-gradient(
    rgb(147, 0, 147),
    rgb(255, 0, 255),
    rgb(107, 0, 107)
  );
  box-shadow: 0 0 20px 0 rgba(83, 14, 83, 0.8);
}
.orange {
  background: linear-gradient(
    rgb(160, 80, 0),
    rgb(255, 127, 0),
    rgb(122, 61, 0)
  );
  box-shadow: 0 0 20px 0 rgba(83, 47, 14, 0.8);
}
.pink {
  background: linear-gradient(
    rgb(161, 9, 85),
    rgb(255, 0, 127),
    rgb(106, 12, 59)
  );
  box-shadow: 0 0 20px 0 rgba(83, 14, 47, 0.8);
}
.chartreuse {
  background: linear-gradient(
    rgb(73, 147, 0),
    rgb(127, 255, 0),
    rgb(48, 96, 0)
  );
  box-shadow: 0 0 20px 0 rgba(47, 83, 14, 0.8);
}
.spring {
  background: linear-gradient(
    rgb(18, 146, 61),
    rgb(0, 255, 127),
    rgb(17, 143, 112)
  );
  box-shadow: 0 0 20px 0 rgba(14, 83, 47, 0.8);
}
.violet {
  background: linear-gradient(
    rgb(83, 9, 101),
    rgb(127, 0, 255),
    rgb(53, 12, 133)
  );
  box-shadow: 0 0 20px 0 rgba(47, 14, 83, 0.8);
}
.azure {
  background: linear-gradient(
    rgb(12, 105, 156),
    rgb(0, 127, 255),
    rgb(15, 4, 101)
  );
  box-shadow: 0 0 20px 0 rgba(14, 47, 83, 0.8);
}

.cap {
  width: 60px;
  height: 25px;
}

.sleeve {
  width: 110px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  border-left: 10px double rgba(0, 0, 0, 0.75);
  border-right: 3px solid rgba(0, 0, 0, 0.75);
}

.cap,
.sleeve {
  display: inline-block;
}
