/*------- Page Specific Styling --------------------------------------------------------------------------------------*/

/* 2.   Global Styles: Not layout, not component, not utility       */
/* 3.   Layout Styles: Framework and Structure Styling       */
/* 4.   Component Styles: UI Element Styling              */
/* 5.   Utility Classes: Class and ID styling             */
/* 6.   Media Queries (Optional): Apply different styles based on the screen size.        */

/* CSS */
/* Positioning */
/* Box Model */
/* Flexbox/Grid */
/* Typography */
/* Backgrounds */
/* Effects and Transitions */
/* Miscellaneous */

a,
a:link,
a:visited {
  color: #369;
  text-decoration: none;
  font-weight: normal;
}

a:hover {
  color: #fff;
  text-decoration: none;
  font-weight: normal;
}
blockquote {
  text-align: center;
}
body {
  background: #474747;
  font-family: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida,
    helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  color: #000;
}
footer {
  display: flex;
  justify-content: center;
  padding: 10px;
}

header {
  position: relative;
  background: url(../images/jeep_flexing_on_a_rock.jpeg) top left no-repeat;
  height: 250px;
  margin: 0;

  text-align: right;
  background-size: cover;
  overflow: hidden;
}

header:hover .gradient-background {
  opacity: 0.3;
}

header h1 {
  font-size: clamp(1.3rem, 4vw + 1rem, 2.5rem);
}

header h1,
header p {
  position: relative;
  z-index: 1;
}

nav {
  background-color: #333;
  border-bottom: 3px solid #5f5757;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

p {
  font-size: clamp(0.7rem, 2vw + 0.3rem, 0.8rem);
  padding: 5px 5px 10px 5px;
  margin: 0;
  line-height: 25px;
}

h3 {
  margin: 10px 0 0 0;
  padding: 0;
  width: 480px;
  height: 35px;
  border: 1px solid #fff;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 2px 0 0 0px;
  padding: 0 0 0 0;
}

ul li {
  background: transparent;
  margin: 7px;
  padding: 0 0 0 27px;
  line-height: 10px;
  font-size: clamp(0.4rem, 2vw + 0.3rem, 0.7rem);
  color: #369;
}

/* Utility Styling */
.certifications {
  max-width: 1400px;
  padding: 20px 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.certifications img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: contain;

  border-radius: 10px;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown li {
  float: none;
}

.dropdown li a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown li a:hover {
  background-color: #ddd;
}

.gradient-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(51, 102, 153, 0.5) 20%,
    rgba(0, 0, 0, 0) 80%
  );
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.header {
  margin: 20px;
}

.header-content {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  text-align: right;
  transition: transform 0.1s ease;
  color: white;
}

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  list-style: none;
}

.nav-menu > li {
  float: left;
  margin-right: 20px;
}

.nav-menu > li > a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-menu > li > a:hover {
  background-color: #111;
}

.nav-menu > li:hover .dropdown {
  display: block;
}
.social_media {
  display: flex; /* Use flexbox for the container */
  justify-content: flex-end; /* Align items to the right */
  align-items: center; /* Center the items vertically */
  margin-top: 10px; /* Adjust spacing from the nav above */
}

.social-icons {
  display: flex; /* Make this a flex container */
}

.social-icons a {
  margin-left: 10px; /* Space between icons */
}

.social-icons img {
  width: 30px; /* Fixed size for images */
  height: 30px;
  transition: transform 0.3s ease; /* Adds a smooth scaling effect */
}

.social-icons img:hover {
  transform: scale(1.1); /* Slightly enlarges the icon on hover */
}
