body {
  background: #474747;
  font-family: "Lucida Grande", "Lucida Sans Unicode", verdana, lucida,
    helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  color: #000;
}

header {
  position: relative;
  background: url(../images/jeep_flexing_on_a_rock.jpeg) top left no-repeat;
  height: 200px;
  margin: 0;
  border-bottom: 5px solid #fff;
  font-size: 22px;
  text-align: right;
  background-size: cover;
  overflow: hidden;
}

.gradient-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(51, 102, 153, 0.5) 20%,
    rgba(0, 0, 0, 0) 80%
  );
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

header:hover .gradient-background {
  opacity: 0.3;
}

header h1,
header p {
  position: relative;
  z-index: 1;
}

nav {
  border-bottom: 3px solid #5f5757;
}

h1 {
  font-size: 22px;
}

p {
  font-size: 18px;
  padding: 5px 5px 10px 5px;
  margin: 0;
  line-height: 25px;
}

h3 {
  margin: 10px 0 0 0;
  padding: 0;
  width: 480px;
  height: 35px;
  border: 1px solid #fff;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

ul {
  font-size: 7px;
  list-style: none;
  margin: 2px 0 0 0px;
  padding: 0 0 0 0;
}

ul li {
  background: transparent;
  margin: 7px;
  padding: 0 0 0 27px;
  line-height: 10px;
  color: #369;
}

a,
a:link,
a:visited {
  color: #369;
  text-decoration: underline;
  font-weight: normal;
}

a:hover {
  color: #fff;
  text-decoration: none;
  font-weight: normal;
}
.header {
  margin: 20px;
}
